html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Alata', sans-serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
  background-color: #0A0C1B;
  color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin: 6em 0;
  width: 50%;
}

.container .box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 1em;
  width: 90%;
}

.container .box .left-box {
  background-color: #1C1938;
  border-radius: 1em 0 0 1em;
  padding: 0 1em;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3em;
}

.container .box .left-box .left-box-cen {
  width: 90%;
}

.container .box .left-box .left-box-cen .left-up h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-bottom: .5em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.container .box .left-box .left-box-cen .left-up h1 span {
  color: #A75FD6;
}

.container .box .left-box .left-box-cen .left-up p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
}

.container .box .left-box .left-box-cen .left-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5em;
  width: 68%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

.container .box .left-box .left-box-cen .left-down p {
  font-weight: lighter;
  font-size: 15px;
}

.container .box .left-box .left-box-cen .left-down .flex1 {
  margin-right: 1.2em;
}

.container .box .right-box {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  width: 50%;
}

.container .box .right-box img {
  width: 100%;
  height: 100%;
  border-radius: 0 .5em .5em 0;
}

.container .box .right-box img:nth-child(2) {
  display: none;
}

@media only screen and (max-width: 1081px) {
  .container .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 400px;
  }
  .container .box .left-box {
    width: 500px;
    height: 40%;
    border-radius: 0 0 .5em .5em;
  }
  .container .box .left-box .left-box-cen .left-up {
    text-align: center;
    margin-bottom: 5em;
  }
  .container .box .left-box .left-box-cen .left-up h1 {
    width: 100%;
  }
  .container .box .left-box .left-box-cen .left-up p {
    width: 100%;
  }
  .container .box .left-box .left-box-cen .left-down {
    margin: 0 auto;
  }
  .container .box .right-box {
    width: 500px;
    height: 300px;
  }
  .container .box .right-box img:nth-child(1) {
    border-radius: .5em .5em 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container .box .right-box img:nth-child(2) {
    display: none;
  }
}
