html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    padding: 0;
    background-color: #0A0C1B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em 0;
    
}