@import "global";

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .box{
        width: 80%;
        display: flex;

        .left-box{
            background-color: #1C1938;
        }
    }
}