@media only screen and (max-width: 1081px){
    .container{
        .box{
            flex-direction: column-reverse;
            width: 500px;

            .left-box{
                width: 500px;
                height: 40%;
                border-radius: 0 0 .5em .5em;
                
            }
            .right-box{
                width: 500px;


                img:nth-child(1){
                    border-radius: .5em .5em 0 0;
                    display: flex;
                }

                img:nth-child(2){
                    display: none;
                }
            }
        }
    }
}